# Ignore node_modules in any folder
node_modules/

# Ignore local environment variables
.env
.env.local

# Ignore compiled production builds
dist/
build/

# Ignore system logs
npm-debug.log*
yarn-error.log*
.DS_Store
backend/user_logs/
backend/users.json

# Ignore certificates
certificates/

# Ignore Java Files
javaparser-core-3.25.10.jar
Validator.class
Validator$1.class
Validator$Check.class
Validator$ValidationException.class

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

