# Ignore node_modules in any folder
node_modules/

# Ignore local environment variables
.env
.env.local

# Ignore compiled production builds
dist/
build/

# Ignore system logs
npm-debug.log*
yarn-error.log*
.DS_Store
readme/

# other
Research Notes
