# connection and security
PORT=####
PASSKEY=********
ONLY_CONNECT=127.0.0.1

# robot hostname configurations
ROBOT_1_ADDRESS=hostname 1 (or IP 1)
ROBOT_2_ADDRESS=hostname 2 (or IP 2)
ROBOT_3_ADDRESS=hostname 3 (or IP 3)